
body {
    background-color: lightgray;
}
.nav-item{
    font-size:24px;
}

.row {
    margin-top:30px;    
    background-color: white;
    max-width: 60%;
}

.content{
    padding: 30px;
    margin-bottom: 30px;
}

.content header[
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
]

hr{
    background-color: gray;
    border: 0 none;
    color: gray;
    height: 3px;
}

#name {
    font-size: 40px;
    color: yellow;
    font-weight: bold;
    background-color: purple;
    padding:10px;

}

#image {
    float: left;
    width: 150px;
    padding: 15px 20px 0px 0px;
}

.port-image {
        margin: 20px auto;
}

.footer {
    position: absolute;
    bottom: 0;
}